<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flabs.mobile.reminder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.flabs.reminder.services.ReminderListenerService"
            android:label="booboo"
            android:process=":reminder_process" >
        </service>

        <receiver android:name="com.flabs.reminder.receivers.ReminderScheduleReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.flabs.reminder.start_schedule_service" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.flabs.reminder.receivers.StartScheduleServiceReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.flabs.reminder.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.flabs.reminder.ui.TransparentDialogActivity"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="com.flabs.reminder.display.reminder_dialog"/>
            </intent-filter>
        </activity>
    </application>

</manifest>